@page "/"
@using PizzaPlace.Shared

<!--Menu-->

<PizzaList Title="Our selection of pizzas" Menu="@State.Menu" Selected="((pizza)=>AddToBasket(pizza))"/>

<!--End Menu-->
<!--Shoping Basket-->
<ShoppingBasket Title="Your current order" Basket="@State.Basket" GetPizzaFromId="State.Menu.GetPizza"
                Selected="(pos=>RemoveFromBasket(pos))"/>
<!--End shoping basket-->
<!--Customer entry-->
<CustomerEntry Title="Please enter your details below" Customer="State.Basket.Customer" Submit="@((_)=>PlaceOrder())" />
<!--End customer entry-->
<p>@State.ToJson()</p>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private State State { get; } = new State()
    {
        Menu = new Menu
        {
            Pizzas = new List<Pizza>
            {
                new Pizza(1,"Pepperoni",8.99M,Spiciness.Spicy),
                new Pizza(2,"Margarita",7.99M,Spiciness.None),
                new Pizza(3,"Diabolo",9.99M,Spiciness.Hot)
            }
        }
    };

    private string SpicinessImage(Spiciness spiciness)
    {
        return $"images/{spiciness.ToString().ToLower()}.png";
    }

    private void AddToBasket(Pizza pizza)
    {
        Console.WriteLine($"Added pizza {pizza.Name}");
        State.Basket.Add(pizza.Id);
        StateHasChanged();
    }

    private void RemoveFromBasket(int pos)
    {
        Console.WriteLine($"Removing pizza at pos {pos}");
        State.Basket.RemoveAt(pos);
        StateHasChanged();
    }

    private void PlaceOrder()
    {
        Console.WriteLine($"Place order {State.Basket.Customer.ToJson()}");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.State.Basket.Customer.PropertyChanged +=
        (sender, e) => this.StateHasChanged();
    }
}
